body, h1, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom, #ffd6c7, #9c4736); 
    color: #cf1f45;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 1rem;
    color: #cf1f45;
    text-shadow: 3px 3px 4px #fc839d; 
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    text-align: center;
    color: #cf1f45;
    margin-top: 1rem;
    text-shadow: 1px 1px 3px #fc839d;
}

#porcentagem {
    font-size: 2rem;
}

.card {
    background: #ffffff; 
    border: 0.2rem solid #cf1f45; 
    border-radius: 10px;
    width: 300px; 
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    text-align: center;
    margin-top: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    border-bottom: 0.2rem solid #9c4736; 
    border-radius: 8px 8px 0 0;
}

#descricao {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #cf1f45;
    margin-top: 10px;
}

#votos {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: #cf1f45;
    margin-top: 0;
    margin-bottom: 0.4rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row; 
        width: 50rem; 
        text-align: left;
    }

    .card img {
        width: 40%;
        height: auto;
        border-radius: 10px 0 0 10px;
        border-bottom: none;
        border-right: 0.2rem solid #9c4736; 
    }

    #descricao {
        margin-top: 0;
        padding-left: 15px; 
    }
}
