body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    height: 100vh;
    padding-top: 2rem;
}

/*
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin-top: 80px; /* Espaço para o header */
    min-height: 300px; /* Espaço fixo para a pergunta */
}

.pergunta {
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ab6da1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: purple;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#resultado {
    margin-top: 2rem;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#finalizar {
    padding: 1.5rem 2rem;
    margin-top: 3rem;
    background-color: palevioletred;
    font-size: 1.5rem;
    font-weight: bold;
}